/* form fields */
.formControls {
  margin-top: 30px;
  background-color: $formBg;
  .applyBtn {
    margin-top: 22px;
    background-color: $greenBg;
    color: $white;
    width: 100%;
  }
  .form-control {
    border: solid 1px $formCtrlBorder;
  }
  label {
    color: #5a6065;
  }
  .searchTxt {
    color: #7b8b8e;
    font-weight: bold;
  }
  input {
    color: #a5a5a5;
  }

  select {
    font-size: 12px;
  }

  .searchResult {
    background-color: $white;
    border: solid 1px #f9fafa;
  }
}

/* Form Result Section */
.searchResult {
  img {
    max-height: 100px;
  }
  .taggedBtns {
    padding-top: 20px;
    padding-bottom: 15px;
    .btn {
      margin: 5px;

      margin-left: 10px;
      padding: 4px 10px;
      font-size: 12px;
      background-color: transparent;
      border: 1px solid transparent;
      color: $lightgrey;
      border-color: $lightgrey;
      &:first-child {
        margin-left: 0px;
        margin-right: 0px;
      }
      &:hover {
        color: $white;
        background-color: $lightgrey;
        border-color: $lightgrey;
      }
    }
  }
  .flightLabel {
    font-size: 14px;
  }
}

.serachContainer {
  .row {
    padding: 15px;
    background-color: $white;
    border-bottom: solid 1px $formRowLightBorder;
    border-left: solid 1px $formRowLightBorder;
    border-right: solid 1px $formRowLightBorder;
  }
  .totalRecords {
    border: solid 0px;
    padding: 30px;
  }
}
