h1 {
  padding-bottom: 50px;
  line-height: 80px;
  color: $white;
  text-align: center;
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 55px;
  margin-bottom: 20px;
}
h2,
h3,
h4 {
  margin: 20px 0px;
  color: $darkgrey;
}
h2 {
  font-weight: bold;
  font-size: 16px;
}
h3 {
  font-size: 14px;
  line-height: 21px;
}
h4 {
  font-size: 24px;
}
