@import '_colors.scss';
@import '_form.scss';
@import '_text.scss';
@import '_mobile.scss';
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

footer {
  margin: 20px;
  .col-md-6.col-xs-12:nth-child(2) {
    p {
      text-align: right;
    }
  }
}

body {
  background-color: $lightBg;
}
img,
figure {
  max-width: 100%;
}
.intro-type {
  position: relative;
  height: 100vh;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.parallax {
  background-image: url('../images/space-photo.jpeg');
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}
.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  span {
    background-image: url('../images/downchevron.svg');
    background-repeat: no-repeat;
    height: 70px;
    display: block;
    width: 70px;
  }
}
